html {
  height: 100%; }

body {
  margin: 0;
  font-family: "Roboto Condensed";
  height: inherit;
  display: table;
  width: 100%;
  overflow: hidden;
  background-color: #202020; }

h1 {
  font-size: 1.5em; }

a {
  text-decoration: none; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.nav-container {
  display: table-row; }
  .nav-container .main-menu {
    display: table;
    overflow: hidden;
    height: 63px;
    background-color: #b81d18; }
    .nav-container .main-menu:before {
      content: "";
      display: table-cell;
      width: 100%; }
    .nav-container .main-menu a {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      padding-right: 25px;
      padding-left: 15px;
      text-transform: uppercase;
      font-size: 19px;
      position: relative;
      color: #f0f0f0;
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out;
      -ms-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }
      .nav-container .main-menu a:hover, .nav-container .main-menu a .active {
        background-color: #a11915; }

.main-container {
  display: table-row;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  perspective: 1300px; }

.view-container-one {
  height: inherit;
  position: relative; }
  .view-container-one .view-one {
    height: inherit;
    width: 100%;
    overflow: hidden;
    position: absolute;
    padding: 15px;
    background-color: #b6b6b6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

.main-footer {
  display: table-row;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .main-footer .common-link {
    display: table-cell;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: right; }
    .main-footer .common-link a {
      color: #b81d18;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px; }

.content-container {
  display: table;
  width: 100%;
  height: 100%; }
  .content-container .content {
    display: table-cell;
    width: 100%;
    height: 100%; }
  .content-container .right-bar {
    display: table-cell;
    padding-left: 50px; }
    .content-container .right-bar .right-menu {
      position: relative;
      bottom: 0; }
      .content-container .right-bar .right-menu a {
        color: #b81d18;
        display: block;
        font-size: 17px;
        padding: 5px;
        text-align: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }

.view-container-two {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  perspective: 1300px; }
  .view-container-two .view-two {
    position: absolute; }
    .view-container-two .view-two header {
      display: table;
      height: 60px; }
      .view-container-two .view-two header h1 {
        display: table-cell;
        vertical-align: middle; }
      .view-container-two .view-two header .search-plugin-container {
        display: table-cell;
        vertical-align: middle;
        padding-left: 60px; }
